html {
    font-size: 1rem
}

body,
html {
    height: 100%
}

body a,
body div,
body p {
    color: #dfdfdf
}

body a:hover {
    color: #cdcdcd
}

header .title, header .title * {
    color: black !important;
}

nav * {
    color: white !important;
}

nav .dropdown-menu {
    background-color: white;
    color: black;
}

nav .dropdown-menu a {
    color: black !important;
}

nav .dropdown-menu a:hover,
nav .dropdown-menu a:focus {
    background-color: #333333;
    color: white !important;
}

.title {
    font-size: 2rem;
    font-weight: 100
}

.subtitle {
    font-size: 1.2rem;
    font-weight: normal;
}

.header .logo {
    height: 3.5rem;
    width: 3.5rem
}

.header .title {
    font-size: 1.5rem;
    line-height: 1.8rem
}

.header .font-increase-button,
.nav .font-increase-button {
    font-size: .8rem
}

.header .font-decrease-button,
.nav .font-decrease-button {
    font-size: .6rem
}

.footer,
.header,
.nav {
    flex: 0 0 auto
}

.main {
    flex: 1 0 auto
}
